@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@800&display=swap');

.page-title {
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    color: #334;
    text-align: center;
    margin: 0;
    padding-top: 15pt;
    line-height: 1;
}

.chart {
    width: 100%;
    height: 400px;
    margin: auto;
    padding: 15pt;
}

canvas {
    margin: 0 auto;
}