@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600;800&display=swap');

body {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-slide-in {
    animation: fadeSlideIn 1s ease-in-out;
}

.page-title {
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: #334;
    text-align: center;
    margin: 0;
    padding-top: 15pt;
    line-height: 1;
}

.chart {
    width: 800px;
    height: 400px;
    margin: auto;
    padding: 15pt;
}

canvas {
    margin: auto;
    width: 100%;
    height: 100%;
}

#chart-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 60pt auto 0 auto;
    padding: 15pt;
    flex-direction: row;
    flex-wrap: wrap;
}

#recommendations, #moistureRecommendation {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    color: #334;
    text-align: center;
    /* margin-top: 15pt; */
}

ul {
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #334;
    background-color: #fff;
    border: 2px solid #334;
    border-radius: 5px;
    padding: 5pt 10pt;
    margin: 15pt;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}